version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: phpmyadmin-db
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - ${APP_DATA_DIR}/data/mysql:/var/lib/mysql
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M
    healthcheck:
      test: mysqladmin ping -h 127.0.0.1 -P 3306 --silent
      retries: 10
      interval: 5s
      timeout: 5s
      start_interval: 10s
    restart: unless-stopped
    networks:
      - tipi_main_network
    labels:
      runtipi.managed: true

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:5.2.3
    container_name: phpmyadmin
    ports:
      - ${APP_PORT}:80
    environment:
      - PMA_HOST=db
      - PMA_PORT=3306
      - PMA_ARBITRARY=1
    depends_on:
      - db
    volumes:
      - ${APP_DATA_DIR}/data/phpmyadmin:/sessions
    deploy:
      resources:
        limits:
          memory: 256M
        reservations:
          memory: 128M
    restart: unless-stopped
    networks:
      - tipi_main_network
    labels:
      runtipi.managed: true

networks:
  tipi_main_network:
    external: true
