version: "3.9"

services:
  onlyoffice:
    container_name: onlyoffice
    image: onlyoffice/documentserver-ee:latest
    restart: unless-stopped
    ports:
      - ${APP_PORT}:80
    volumes:
      - ${APP_DATA_DIR}/data/onlyoffice/documentserver/data:/var/www/onlyoffice/Data
      - ${APP_DATA_DIR}/data/onlyoffice/documentserver/logs:/var/log/onlyoffice
      - ${APP_DATA_DIR}/data/onlyoffice/documentserver/lib:/var/lib/onlyoffice
    environment:
      - JWT_ENABLED=true
      - JWT_SECRET=iBFcoalGWCj30UW2BzLnShsRsRF7zcnJ
      - TZ=Asia/Kolkata
      - ONLYOFFICE_DOMAIN=${APP_DOMAIN}
    networks:
      - tipi_main_network
    labels:
      - traefik.enable=true
      - "traefik.http.routers.onlyoffice.rule=Host(`office.${APP_DOMAIN}`)"
      - "traefik.http.routers.onlyoffice.entrypoints=websecure"
      - "traefik.http.routers.onlyoffice.tls.certresolver=myresolver"
      - "traefik.http.services.onlyoffice.loadbalancer.server.port=80"
      - runtipi.managed=true

networks:
  tipi_main_network:
    external: true