version: '3.1'
services:
  mysql:
    image: mariadb:10.5
    container_name: openemr-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD:-root}"
      MYSQL_DATABASE: "openemr"
      MYSQL_USER: "${MYSQL_USER:-openemr}"
      MYSQL_PASSWORD: "${MYSQL_PASS:-openemr}"
    volumes:
      - ${APP_DATA_DIR}/data/mysql:/var/lib/mysql

  openemr:
    image: openemr/openemr:7.0.3
    container_name: openemr
    restart: always
    ports:
      - "${HOST_PORT:-8084}:80"
      - "9443:443"
    volumes:
      - ${APP_DATA_DIR}/data/site:/var/www/localhost/htdocs/openemr/sites
      - ${APP_DATA_DIR}/data/logs:/var/log
    environment:
      MYSQL_HOST: mysql
      MYSQL_ROOT_PASS: "${MYSQL_ROOT_PASSWORD:-root}"
      MYSQL_USER: openemr
      MYSQL_PASS: "${MYSQL_PASSWORD:-openemr}"
      OE_USER: "${OE_USER:-admin}"
      OE_PASS: "${OE_PASS:-pass}"
    depends_on:
      - mysql
    networks:
      - tipi_main_network
    labels:
      - runtipi.managed=true
networks:
  tipi_main_network:
    external: true